*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right,violet,pink);
}

.Registration-Container{
    width: 30vw !important;
    background-image: linear-gradient(to left,violet 50%,aqua);
}