button{
    padding: 8px 12px;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 7px;
    font-weight: bolder;
}

.btn-default{
    color: #000;
    border-color: #000;
}

.btn-primary{
    background: rgb(57, 131, 243);
    border-color: rgb(57, 131, 243);
}

.btn-success{
    background: rgb(106, 202, 77);
    border-color: rgb(106, 202, 77);
} 

.btn-info{
    background: rgb(0, 188, 245);
    border-color: rgb(0, 188, 245);
}

.btn-warning{
    background: rgb(255, 187, 0);
    border-color: rgb(255, 187, 0);
}

.btn-danger{
    background: rgba(255, 0, 0, 0.842);
    border-color: rgba(255, 0, 0, 0.842);;
}